<div class="mt-5 relative h-screen bg-cover bg-fixed" style="background-image: url('log_somno_guard.png'); filter: blur(50px); opacity: 0.5;">
    <!-- Este div solo actúa como fondo -->
</div>

<!-- Contenedor del contenido -->
<div class="absolute inset-0 flex flex-col">
    <nav class="flex justify-between items-center p-8 bg-opacity-75 bg-white backdrop-blur-sm">
        <div>
            <h1 class="text-xl font-bold ml-40">VGUARD</h1>
        </div>
        <div class="flex space-x-4 mr-40">
            <a routerLink="#" class="hover:underline">Inicio</a>
            <a href="#" class="hover:underline">Reporte</a>
            <a href="#" class="hover:underline">VGuard</a>
            <a href="#" class="hover:underline">Contacto</a>
        </div>
    </nav>
    <div class="flex justify-between items-center h-full p-8">
        <div class="ml-40">
            <h1 class="text-4xl">Enfoque Tecnológico</h1>
            <h1 class="text-4xl">para la Prevención de Accidentes</h1>
            <button class="border border-slate-700">Iniciar Sesión</button>
        </div>
        <div class="mr-20 hidden lg:block lg:mr-40">
            <img src="prototipo.png" alt="" class="max-w-full h-auto">
        </div>
    </div>
</div>
